.profile {
    grid-area: content;
    padding: 20px;
}

.img {
    justify-content: center;
    background-color: darkred;
}

.preloader {
    width: 100px;
    height: 100px;
}

.nav {
    background-color: #fff;
    padding: 10px;
}

