.profile {
    grid-area: content;
    background: azure;
    padding: 20px;
}

.img {
    justify-content: center;
    background-color: darkred;
}

.preloader {
    width: 100px;
    height: 100px;
}