.usersWrapper {
    background-color: #ececec;
    padding: 10px;
    border-radius: 15px;
}

.usersBlock {
    margin: 30px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    border-radius: 25px;
    padding: 20px;
    background-color: white;

}

.imageBar {
    display: grid;
    align-items: center;
}

.imageBar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.infoBlock {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.interactionBlock {
    justify-content: center;
    align-items: center;
}

.interactionBlock button {
    border: none;
    margin: 4px;
    border-radius: 50px;
    width: 120px;
    padding: 2px;
    background-color: white;
    text-transform: uppercase;
    background: #FFFFFF;
    opacity: 0.9;
    border-radius: 80px;
    background-color: #1a73e8;
    color: white;
}

.interactionBlock button:disabled {
    background-color: white;
}

.interactionBlock button:hover {
    cursor: pointer;
}

.usersInfo {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(240 240 240);
    display: grid;
    justify-content: center;
    align-items: center;
}

.usersInfo div {
    margin: 5px;
}

.followBlock {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}