.usersBlock {
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    display: grid;
    grid-template-columns: 2fr 8fr;
    border-radius: 30px;
    background-color: aliceblue;
}
.usersBlock img {
    width: 110px;
    height: 7rem;
    border-radius: 50%;
}

.imgBlock {
    background: none;
    display: grid;
    justify-content: center;
    align-items: center;
}

.imgBlock img {
    padding: 4px;
}

.imgBlock button {
    text-transform: uppercase;
    background: aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.userAndStatus {
    background-color: azure;
    border-radius: 20px;
    display: grid;
    grid-column-start: 2;
    /*display: flex;*/
}

.usersRegion {
    padding: 20px;
    display: flex;
    justify-content: space-around;

}
.name {
    font-size: 20px;
    font-family: "Apple Braille";
    text-transform: uppercase;
}