.profile {
    grid-area: content;
    background: green;
}

.myPosts img {
    width: 100px;
    height: 100px;
}

.myPosts {
    color: gold;
    font-size: 20px;
    font-family: -apple-system;
}

.users {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: azure;
    border: 1px solid black;
}

.users img {
    width: 100px;
    height: 100px;
}