.profile {
    grid-area: content;
    /*background: green;*/
}


.users {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: azure;
    border: 1px solid black;
}

.users img {
    width: 100px;
    height: 100px;
}

.img img {
    width: 800px;
    height: 500px;
    border-radius: 30px;
}

.myPosts {
    margin-top: 20px;
    border-radius: 30px;
    padding: 20px;
    background-color: white;
}

.interactionBlock {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 5px;
}

.interactionBlock button {
        padding: 5px;
        border: none;
        border-radius: 10px;
        /* width: 120px; */
        /* height: 30px; */
        text-transform: uppercase;
}

.interactionBlock button:hover {
    cursor: pointer;
    background-color: rgb(184, 182, 182);

}

.img {
    padding: 20px;
    margin: 20px;
}

.title {
    background-color:  rgb(184, 182, 182);
    margin: 20px;
    text-transform: uppercase;
}

.comment {
    display: flex;
    flex-wrap: wrap;
}