.myButton {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #6b808c;
    box-shadow: none;
    transition: background-color 0.2s ease-in-out;
}

.myButton:hover {
    background-color: #026aa7;
}
