.usersMessages {
    display: grid;
    grid-template-columns: 2fr 5fr;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
}


.avatarBlock {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
}

.item {
    margin-top: 20px;
}

.usersMessage {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
}

.infoAboutUsers {
    font-weight: bold;
    margin-bottom: 5px;
}

.messageBar {
    margin-bottom: 10px;
}

