.header {
    display: grid;
    grid-area: header;
    align-items: center;
    grid-gap: 16px;
    padding: 16px;
    background-color: #026aa7;
    color: #fff;
}

.authButton {
    display: flex;

}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}



