.header {
    grid-area: header;
    background: Aqua;
}

.header_title {
    background-color: darkred
;
}

.header_logo img {
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.loginBlock {
    display: flex;
    justify-content: right;
}
.loginBlock a {
    padding: 10px;
    background-color: black;
    color: white;
    list-style: none;
}


