header {
    display: grid;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 4px 40px;
    grid-area: header;
    position:fixed;
    margin-bottom: 80px;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.logo {
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
}

.checkAuth {
    display: flex;
    align-items: center;
}
