@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.nav {
    grid-area: nav;
    padding: 5px;
    justify-content: center;
    font-family: 'Roboto';
}

.item {
    padding: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.item a {
    display: flex;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* 778899 */