.navbar {
    display: grid;
    align-items: center;
    width: 200px;
    padding: 8px;
    background-color: #026aa7;
    color: white;
    grid-area: navbar;
}

.userPhoto {
    height: 150px;
    margin-right: 8px;
}

.link {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.link.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

