.item {
    background-color: gray;
    display: grid;
    padding: 10px;
    justify-content: right;
}

.messages {
    display: grid;
    margin: 10px;
    background-color: bisque;
    justify-content: center;
    align-items: center;
}

.messageBar {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}



