.item {
    background-color: gray;
    display: grid;
    padding: 10px;
    justify-content: right;
}

.messages {
    display: grid;
    margin: 10px;
    background-color: bisque;
    justify-content: center;
    align-items: center;
}

.messageBar {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.navbar {
    background-color: bisque;
    color: white;
    padding: 20px;
}

.navbar a {
    color: black;
    list-style: none;

}

.dialogs {
    padding: 10px;
    color: black;
}



