.navbar {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.statusBar img {
    width: 70px;
    height:70px;
    border-radius: 5px;
}

.statusBar {
    display: flex;
    grid-template-columns: 1fr 3fr;
    justify-content: space-around;
    align-items: center;
}

.inlineBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
}

.inlineBlock button {
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    text-transform: uppercase;
}

.inlineBlock button:hover {
    background-color: rgb(184, 182, 182);
    cursor: pointer;
}