.app-wrapper {
    display: grid;
    grid-template-areas:
    "header header header"
    "nav content content";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 3fr 9fr;
    /*grid-gap: 10px;*/
}

.header {
    background-color: blue;
}





